<html>
      <body>
          <div>
              <div class="main-container">
                          <nav class="navbar navbar-expand-lg navbar-light bg-light shadow" >
                             <a class="navbar-brand" [routerLink]="['/home']"><img src="favicon.ico" height="20px" width="20px"/>HCAS</a>
                             <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                              <span class="navbar-toggler-icon"></span>
                             </button>
                              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                              <ul class="navbar-nav mr-auto">
                                <li class="nav-item active">
                                  <a class="nav-link active" [routerLink]="['/dashboard']" *ngIf="loggedin()"><i class="fas fa-house-damage"></i> Home</a>
                                </li>

                                <li class="nav-item dropdown" *ngIf="loggedinpatient()" >
                                  <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-calendar"></i> Services
                                  </a>
                                  <div class="dropdown-menu" aria-labelledby="navbarDropdown" routerLinkActive="active">
                                    <a class="dropdown-item nav-link" [routerLink]="['/userManagementDashboard']"><i class="fas fa-calendar-alt" ></i> Booked Appointments</a>
                                    <a class="dropdown-item nav-link" [routerLink]="['/userBookings']"><i class="fas fa-calendar-alt" ></i> All Appointments</a>
                                    <!-- <a class="dropdown-item"><i class="fas fa-user-md"></i> Doctor</a> -->
                                    <!-- <a class="dropdown-item"><i class="fas fa-user-nurse"></i> Nurses</a>
                                    <a class="dropdown-item"><i class="fas fa-comment-dots"></i> Chat</a> -->
                                  </div>
                                </li>
                                <li *ngIf="loggedinDoctor()" class="nav-item dropdown active"  routerLinkActive="active">
                                  <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-calendar-check"></i> Manage Appointment
                                  </a>
                                  <div class="dropdown-menu" aria-labelledby="navbarDropdown" routerLinkActive="active">
                                    <a class="dropdown-item nav-link" [routerLink]="['/createAppointment']"><i class="fas fa-calendar-alt" ></i> Create Appointments</a>
                                    <a class="dropdown-item nav-link" [routerLink]="['/manageAppointments']"><i class="fas fa-user-md"></i> Active Appointments</a>
                                    <a class="dropdown-item nav-link" [routerLink]="['/confirmedBookings']"><i class="fas fa-book-medical"></i> Booked Appointments</a>
                                    <a class="dropdown-item nav-link" [routerLink]="['/completedBookings']"><i class="fas fa-book-medical"></i> Completed Bookings</a>
                                    </div>
                                </li>
                                <li class="nav-item active" *ngIf="loggedinDoctor()">
                                  <a class="nav-link" [routerLink]="['/chat']"><i class="fas fa-comment-dots"></i>  Chat</a>
                                </li>
                              </ul>

                              <div>
                                  <ul class="nav navbar-nav">
                                    <li class="nav-item">
                                      <a class="nav-link"
                                         type="button" data-toggle="modal" data-target="#HelpModalLon" routerLinkActive="active"><i class="fas fa-question-circle"></i> Help</a>
                                    </li>
                                    <li class="nav-item">
                                      <a class="nav-link"
                                         type="button" href="https://www.smartsurvey.co.uk/s/BJKML5/"  routerLinkActive="active"><i class="fas fa-poll-h"></i> Survey</a>
                                    </li>
                                    <li class="nav-item">
                                      <a class="nav-link"
                                         type="button" data-toggle="modal" data-target="#exampleModalLon" routerLinkActive="active"><i class="fas fa-user-shield"></i> Privacy Policy</a>
                                    </li>
                                    <li *ngIf="!loggedin()" class="nav-item">
                                      <a class="nav-link"
                                        [routerLink]="['/signup']" routerLinkActive="active"><i class="fas fa-user-plus"></i> Signup</a>
                                    </li>
                                      <li *ngIf="!loggedin()" class="nav-item">
                                        <a class="nav-link"
                                          [routerLink]="['/login']" routerLinkActive="active"><i class="fas fa-sign-in-alt"></i> Login</a>
                                      </li>

                                    <li class="nav-item dropdown" *ngIf="loggedin()" >
                                      <a style="font-family: Noto Sans; font-size: 18px; font-style: italic; font-display:blue;" class="nav-link dropdown-toggle active" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                       Welcome {{Username}}
                                      </a>
                                      <div class="dropdown-menu" aria-labelledby="navbarDropdown" routerLinkActive="active">
                                        <a class="dropdown-item"><i class="fas fa-user-md"></i> Dashboard</a>
                                        <a class="dropdown-item" *ngIf="loggedinDoctor()" [routerLink]="['/myprofile']" ><i class="fas fa-user-nurse"></i> My Profile</a>
                                        <a class="dropdown-item" *ngIf="!loggedinDoctor()" [routerLink]="['/patientProfile']" ><i class="fas fa-user-nurse"></i> My Profile</a>
                                        <a class="dropdown-item" (click)="onLogout()"><i class="fas fa-sign-out-alt"></i> Logout</a>
                                      </div>
                                  </ul>
                               </div>

                             </div>
                           </nav>
                            <div class="container">
                              <router-outlet></router-outlet>

                            </div>

                            <footer class="footer " style="background-color:rgba(188, 197, 60, 0.096)">
                                   <div class="text-center">
                                      <a style="color:rgb(15, 21, 26);font:bold">© 2021 Copyright: HCAS - Project Dissertation (SHU) made with <i style="color: red;" class="fas fa-heartbeat danger"></i></a>
                                  </div>
                            </footer>
                </div>
          </div>
    </body>
</html>

<!-- Modal -->
<div class="modal fade" id="exampleModalLon" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Privacy Policy</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div id="tncBody" class="modal-body">
        <pre>
PRIVACY POLICY
This is a project HCAS created and managed by Raziuallah Mohammed for his MSc Computing dissertation.

The admin is committed to respecting your privacy and ensuring the personal information you have entrusted
with this application is held securely and takes into account major privacy principles and frameworks
around the world, including the Data Protection Act 2018, Privacy and Electronic Communications Regulations (PECR),
and EU General Data Protection Regulation 2016/679 (GDPR). The enhanced data protection rights stated in this Policy
are a reasonable and proportionate way of achieving compliance as required by the EU General Data Protection Regulation
and other privacy principles and frameworks.

STORAGE OF YOUR DATA
We save all your data in Azure data server in the UK-South location.

PURPOSE OF THIS POLICY

This Privacy Statement is issued by admin (also referred to as “we”, “us” or “our” in this Privacy Statement) and sets out
the ways and the manner in which we collect and use your personal data. It provides information about our privacy practices
including details of the personal data we collect, use, disclose and transfer, as well as choices you can make and the rights
you can exercise in relation to your personal data.

WHAT IS PERSONAL DATA (INFORMATION)?

Under the EU’s General Data Protection Regulation:

Personal Data is defined as “any information relating to an identified or identifiable natural person ('data subject'); an
identifiable natural person is one who can be identified, directly or indirectly, in particular by reference to an identifier
such as a name, an identification number, location data, an online identifier or to one or more factors specific to the physical,
physiological, genetic, mental, economic, cultural or social identity of that natural person.”

WHY WE USE YOUR PERSONAL INFORMATION

Application collects information about you to provide our services. To enable us to deliver our services and products in the best
possible way, it is necessary for us to collect, process, and/or use the information as stated in this Policy.

We use the information we hold about you in a range of different ways, which broadly fall into these categories:
Things we need to do in order to provide you with the services you've requested
We will only collect, use and share your information where we are satisfied that we have an appropriate legal basis to do this.
We only process your personal data on the following legal bases:

Performance of a contract: We may process personal information to enter into a contract and/or fulfil agreements with you or your
organisations, including managing and delivering our services and allowing our customers to use our services and supplementary tools.

Legal obligation: We may process personal data to comply with applicable laws and regulations and establish or exercise our
legal rights. For example, to meet the responsibilities we have to our regulators, tax officials, law enforcement, or otherwise
meet our legal responsibilities.

Legitimate Interest: We may process personal data as necessary to pursue our legitimate business interests (except where such interests are
overridden by the interests, rights or freedoms of the data subject). We use personal data and other data to provide services you request;
processing your registration, providing customer-related services; managing, developing and improving our services and services; performing
our marketing and sales operations; protecting our employees and assets; and ensuring compliance with laws and regulations. We ensure that the
information is processed in a way that values your privacy rights. You have the right to object to processing as explained in data subject’s
rights to restriction of, or objection to, processing of personal data.

Consent: We may process your personal information if you have provided your consent to us. In particular, where we cannot rely on an alternative
legal basis or we are required by law to ask for your consent, online data collection tools or surveys. At any time, you have a right to withdraw
your consent by changing your communication choices, sending us a email on getagp9@gmail.com.

THE TYPE OF INFORMATION WE COLLECT:

We collect personal data only if required to provide our services, fulfil our legitimate business purposes and/or comply with applicable laws
and regulations. Depending on your relationship with us, we collect and process personal data and other data to provide the services you request,
to personalise the services according to your personal preferences and to communicate about our products and services. By visiting our site
and/or using our app, registering to use the services we offer through our website or by contacting us,
this Privacy Policy will apply.

The personal data we collect from you may include the following:

Information you provide to us when registering for our services.
Information you provide to us in any correspondence and a record of any correspondence we have with you.
Information about your use of our services.
Information we obtain via cookies on your browser.
Information you provide while booking a appointment.

BROWSER STORAGE : CLIENT SIDE STORAGE

We use client side storage to store username,JWT token, email address and chat information which will be deleted after you log out of the application.

SHARING YOUR PERSONAL INFORMATION

We only share your limited personal data with the GPs or Nurse you have bookied appointments.

We may occasionally be required by law, court order or governmental authority to disclose certain types of personal data.

We may also share your information with third parties in the following situations, to the extent permitted by law:

If we think doing so is necessary to protect the rights, property, security, or safety of us, our service, our users, or the public
To enforce our General Terms or any other agreements we have in place with you
To investigate and defend ourselves or others against any third-party claims or allegations
While negotiating or in relation to a business transaction, such as a merger, change of control.


HOW LONG DO WE KEEP YOUR INFORMATION?

We hold your personal information only as long as we have a valid legal reason to do so, which includes providing you with the services
you have requested, meeting our legal and regulatory obligations, resolving disputes and enforcing our agreements.

The length of time for which we keep different types of personal information can vary, depending on why we originally obtained them,
the reason we process them and the legal requirements that apply to them.

you can request for deletion of your personal data at any time by sending an email to getagp9@gmail.com

OUR INFORMATION SECURITY PROMISE

We strive to protect your personal data and our services from unauthorised access to or alteration of your personal data. This includes
using various security measures to protect your personal data held by or on behalf of us, and conducting ongoing reviews of our
information collection, storage and processing practices.

Subject to the uses described in this Privacy Policy, we will endeavour to treat all of your personal data in strict confidence
and take all reasonable steps to keep your personal data secure once it has been transferred to our systems. However, the internet
is not a secure medium and we cannot guarantee the security of any data you disclose online. You accept the inherent security risks
of providing information and dealing online over the internet and will not hold us responsible for any breach of security unless
this is due to our failure to ensure we have appropriate technical and organisational measures in place as required by GDPR.

If you link to other websites from our website, then your personal data will be governed by its privacy policy. We recommend that
you always read any such privacy policy
before interacting with a new website to ensure you understand how your personal data will be used.

YOUR INFORMATION RIGHTS AND CHOICES

The General Data Protection Regulation (GDPR) gives you:

The right to opt out of having your information used for contacting you about our activities
You can opt out of receiving information from Application at any time by simply letting us know in writing.
The right to have any inaccuracies in your personal information corrected We’ll update inaccuracies promptly,
and within 7days if you are requesting a simple and straightforward change. Your ‘right of objection’ to
certain activities Data protection law gives you the right to express an objection to how we process your
personal information.Your Right to Erasure People sometimes refer to this as the ‘right to be forgotten’.
Under data protection law, you have the right to ask us to delete any personal information about you that
we hold.
If you would like a copy of the personal information we hold about you, you can request it. you can do this
by simple sending us a email on getagp9@gmail.
Your Right to ‘Data Portability’ The right to ‘data portability’ aims to enable consumers to re-use some of
their personal information online by making it available in a commonly-used, machine-readable format that
can be passed to and used by other organisations.
Your Right to Complain to the Regulator If you believe your privacy rights have been infringed, or you disagree
with a decision we have made about your privacy rights, you have the right to complain to the privacy regulator
on the address below. As we are based in the UK, our principal data protection regulator is the UK’s ICO.
Information Commissioner's Office
Wycliffe House
Water Lane
Wilmslow
Cheshire
SK9 5AF
Help Line: 0303 123 1113

How do I exercise this right? By writing to us via post, email, telephone,We will respond to your request
within 7 days for all reasonable requests.
Note: How you can exercise your rights will depend on the lawful basis on which we process your information.

REPORTING CONCERNS OR COMPLIMENTS

Please contact us if you wish to raise a concern about Application's handling of your personal information,
or compliment something you think we have done well.

You also have the right to lodge a complaint with the Information Commissioner’s Office about how we manage your personal data.

IP ADDRESS

Your browser also generates other information, including which language the website is displayed in, and your Internet Protocol
address (IP address). An IP address is a set of numbers assigned to your computer during a browsing session whenever you access
the internet via your internet service provider or your network (if you access the internet from, for example, a computer at work).
Your IP address is automatically logged by our servers and used to collect traffic data about visitors to our website. We also use
your IP add ress to help diagnose problems with our server, and to administer our website.

COOKIES

A cookie is a small text file that is downloaded onto your Access Device when you visit a website which enables the website to
obtain certain information from your browser, such as your preferences. Cookies allow us to maximise your experience using the
website by increasing its functionality and allowing the website to remember information and selections as you move from page
to page and from visit to visit, depending on the cookie. A cookie does not harm your Access Device, nor does it contain any
viruses or other malware.
        </pre>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



<div class="modal fade" id="HelpModalLon" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"><i class="fas fa-question-circle"></i> Pictorial step-by-step demonstration of booking an appointment</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">


      <div class="card-header">

        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="">

            <div class="carousel-item active">
              <img id="propImage" class="d-block w-100" src="../../../assets/SignupForm.JPG" >
            </div>
            <div class="carousel-item">
              <img id="propImage" class="d-block w-100" src="../../../assets/LoginForm.JPG" >
            </div>
            <div class="carousel-item">
              <img id="propImage" class="d-block w-100" src="../../../assets/Dashboarddetails.JPG" >
            </div>
            <div class="carousel-item">
              <img id="propImage" class="d-block w-100" src="../../../assets/detailsandap.png" >
            </div>
            <div class="carousel-item">
              <img id="propImage" class="d-block w-100" src="../../../assets/bookingsap.png" >
            </div>
            <div class="carousel-item">
              <img  id="propImage" class="d-block w-100" src="../../../assets/listofbookingdetails.png" >
            </div>

          </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>

    </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
