#propImage{
  height: 130px;
  width: 120;
  overflow: hidden;
  position: relative;

}
.container{
  bottom: 200px;
  height: 1000px;

}
.container h6{
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
}

.row{
  position: relative;
  top:100px;
}

.card:hover img{
  transform: scale(1.2,1.2);
  transition-duration: 500ms;
  transition-timing-function: ease-out;
}

.card img{
  transform: scale(1,1);
  transition-duration: 500ms;
  transition-timing-function: ease-out;
}

#doctorcard{
  position: relative;

}

.card{
position: relative;
text-align: left;
margin-bottom: 20px;
box-shadow:5px 5px 15px rgb(155, 155, 236);
}
.img-wrapper{
  overflow: hidden;
  position: relative;
}

.member-icons{
  position: absolute;
  bottom:-15;
  left:0;
  right:0;
  margin-left: auto;
  margin-right: auto;
}

.img-wrapper:hover .member-icons{
 bottom:0;
}

.animate{
  transition: all 0.3s ease-in-out;
  transition-timing-function: ease-out;
  transition-duration: 500ms;
}

.search{

  position:relative;
  bottom: 40px;
  left: 300px;

}
.search input{

 color: blue;
 background-color: rgba(140, 140, 214, 0.171);

}

.search:hover{
  transform: scale(1.2,1.2);
  transition-duration: 500ms;
  transition-timing-function: ease-out;
}
.search{
  transform: scale(1,1);
  transition-duration: 500ms;
  transition-timing-function: ease-out;
}
.info{
  position: relative;
  left:90px;

}

