#subBtn{
  margin-right: 6px;

}
.card-header{

}

#Signupform{

}

.row{

}

#div1
{
 display: inline-block;
}
#div2
{
 display: inline-block;
}
#phoneDiv{
  display: inline-block;
}
#DobDiv{
  display: inline-block;
}
