
<div class="row">
  <div class="col-5 m-auto">
  <div class="card m-auto">
    <div class="card-header image">
      <h3 class="card-title">Signup</h3>
    </div>
    <div class="card-body">
      <form id="Signupform" [formGroup]="userform" (ngSubmit)="onSubmit()">
        <div class="form-group col-12">

            <label for="name" *ngIf="!userform.get('name').valid" class="form-label">Name</label>
            <input type="text" class="form-control" formControlName="name">
            <span *ngIf="!userform.get('name').valid && userform.get('name').touched" class="error-block">
              Please provide Name
            </span>
        </div>

        <div id="div1" class="form-group col-md-6">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" formControlName="email">
          <!-- <span *ngIf="!userform.get('email').valid && userform.get('email').touched" class="error-block">
            Please provide Email
          </span> -->
        </div>

        <div id="div2" class="form-group col-md-6">
          <label for="passwrod" class="form-label">Password</label>
          <input type="password" class="form-control" formControlName="password">
          <!-- <span *ngIf="!userform.get('password').valid && userform.get('password').touched" class="error-block">
            Please provide Password
          </span> -->
        </div>

        <div id="phoneDiv" class="form-group col-md-6">
          <label for="phonenumber" class="form-label">PhoneNumber</label>
          <input type="text" class="form-control" formControlName="phonenumber">
          <!-- <span *ngIf="!userform.get('phonenumber').valid && userform.get('phonenumber').touched" class="error-block">
            Please provide Phone Number
          </span> -->
        </div>

        <div id="DobDiv" class="form-group col-md-6">
          <label for="dateofbirth" class="form-label">Date of Birth</label>
          <input type="date" class="form-control" formControlName="dateofbirth">
          <!-- <span *ngIf="!userform.get('dateofbirth').valid && userform.get('dateofbirth').touched" class="error-block">
            Please provide Date Of Birth
          </span> -->
        </div>

        <div id="DobDiv" class="form-group col-md-6">
          <label for="gender" class="form-label">Gender</label>
          <select name="genderddl" type="text" (change)="onSelect($event)" formControlName="gender" class="form-control">
                  <option value="">Select</option>
                  <option *ngFor="let gen of listGender" value="{{gen.genderId}}" >{{gen.genderName}}</option>
          </select>
          <!-- <span *ngIf="!userform.get('gender').valid && userform.get('gender').touched" class="error-block">
            Please select your gender
          </span> -->
        </div>

        <div id="DobDiv" class="form-group col-md-6">
          <label for="role" class="form-label">Role</label>
          <select name="roleddl" type="text" (change)="onSelectRole($event)" formControlName="roleid" class="form-control">
            <option value="">Select</option>
            <option *ngFor="let role of listRoles" value="{{role.roleID}}" >{{role.roleName}}</option>
          </select>
          <!-- <span *ngIf="!userform.get('roleid').valid && userform.get('roleid').touched" class="error-block">
            Please select your role
          </span> -->
        </div>

        <div id="DobDiv" *ngIf="isDoctor" class="form-group col-12">
          <label for="gmcnumber" class="form-label">GMC Number / PIN Number</label>
          <input type="number" class="form-control" formControlName="gmcnumber">
           <span *ngIf="!userform.get('gmcnumber').valid && userform.get('gmcnumber').touched" class="error-block">
            Please enter your GMC or PIN number.
          </span>
        </div>

        <div  id="DobDiv" *ngIf="isDoctor" class="form-group col-12">
          <label for="speciality" class="form-label">Speciality</label>
          <input type="text" class="form-control" formControlName="speciality">
          <span *ngIf="!userform.get('speciality').valid && userform.get('speciality').touched" class="error-block">
            Please enter your speciality.
          </span>
        </div>

        <div id="DobDiv" *ngIf="isDoctor" class="form-group col-12">
          <label for="experience" class="form-label">Experience</label>
          <input type="text" class="form-control" formControlName="experience">
           <span *ngIf="!userform.get('experience').valid && userform.get('experience').touched" class="error-block">
            Please enter your experience.
          </span>
        </div>

        <div *ngIf="isDoctor" class="form-group col-12">
          <label for="address" class="form-label">Address</label>
          <input type="text" class="form-control" formControlName="address" placeholder="M14 4xy Some street">
           <span *ngIf="!userform.get('address').valid && userform.get('address').touched" class="error-block">
            Please enter your address
          </span>
        </div>
        <div  class="form-group col-12">
          <input type="checkbox" required id="TnC" formControlName="checkbox"/>
          <a for="TnC" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong"  class="link active form-label"> Terms & Conditons</a>
            <span *ngIf="!userform.get('checkbox').valid && userform.get('checkbox').touched" class="error-block">
            Please tick the box.
          </span>
        </div>

        <div  class="form-group col-12">
          <button  (click)="onClick()" type="submit" class="btn btn-primary"><i class="fas fa-sign-in-alt"></i> Signup</button>
          <button type="reset" class="btn btn-secondary ml-2"><i class="fas fa-eraser"></i> Cancel</button>
          <div id="loading" *ngIf="loading" class="spinner-border spinner-border-sm" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
        <div class="form-group col-12 m-1">
          <a routerLink="/login">Already a member? Login</a>
         </div>
      </form>
    </div>
  </div>
  </div>
</div>

<!-- Button trigger modal
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
  Launch demo modal
</button> -->

<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Terms & Conditions</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div id="tncBody" class="modal-body">
        <pre>
          PLEASE READ THESE TERMS AND CONDITIONS CAREFULLY BRFORE ACCESSING THE SERVICE
          HCAS Operator: Raziullah Mohammmed
          Last Updated: 14/08/2021

1. INTRODUCTION. The website HCAS is a health care appointment system application. trying to fluently connect health
care providers and patients. it is a dissertation project for the university of Sheffield Hallam. it aims to fulfill
all the necessary aspect of a real application.

2. AVAILABILITY OF THE WEBSITE. the operator will try to make this application available but cannot guarantee that
this Website will operate continuously or without interruptions. the operator may decide to take it down after
the completion of dissertation.

3. LINKS TO AND FROM OTHER WEBSITES. You confirm that the inclusion of hyperlinks on the application does not imply
any endorsements by operator of the material on any such websites or any association with their operators and that
of you use these hyperlinks you will be leaving the Website. These links are to conduct survey for the dissertation.
If you use these links you will be leaving this Application.

4. INTELLECTUAL PROPERTY RIGHTS. You acknowledge that the copyright in and all other intellectual property rights in
the Website its content and the underlying software and any related software belong to the operator.

5. PRODUCTS AND SERVICES. The purpose of the Website is to promote the culture of online delivery of health
care services. which should be accessable to everyone.

6. VIRUSES. Whilst the operator tries to exclude any viruses from the application the operator cannot guarantee such
exclusion and no liability is accepted for viruses.

7. SECURITY. This applicatoon stores all its data related to providers and users on a Microsoft Azure cloud server.
due to the nature of internet the operator cannot gurantee complete protection of your data.

8. DISCLAIMER. operator may at time and for any reason correct without reason any typographical clerical or other
error, and operator reserve the right to make any amendments and/or improvements to the Website at any time.

9. WAIVER. If you breach these T&Cs operator may not take any immediate action against you.

10. ENTIRE AGREEMENT. These conditions constitute the entire agreement between you and us relating to you use of the
Application.

11. MODIFICATION. You acknowledge that we may modify these conditions at any time for any reason.

12. Contact:To contact us, please email us on getagp9@gmail.com.
        </pre>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



