

#card1{

   height:300px;
   border-radius: 5px;
   background: rgba(204, 117, 117, 0);
   box-shadow:5px 5px 15px rgb(155, 155, 236);
   text-align: center;
   position: relative;
   width: 200px;
   overflow-x: auto;
   background-color: rgba(56, 49, 49, 0.082);
   

}
#card1 table{
  width: 100%;
  height: 100%;
  min-height: 100vh; /* will cover the 100% of viewport */
  overflow: hidden;
  background-color: rgb(218, 235, 145);
}
#propImage{
  height: 350px;
  width: 780px;
  overflow: hidden;
  position: relative;
  border-right: 18px;
}

.card-header{
  position: relative;
  left: 150px;
  top:20px;
  height:380px;
  width: 800px;
  border: skyblue;
  border: 3px #ccc solid;
  padding: auto;
}
#card1 scroll{
  background-color: darkgray;
}
.table tbody{
  border-radius: 18px;
  viewport-fit: 100%;
}

#row{
  text-align: center;
}

.empty{
  height: 600px;
  width: 700px;
  background-color: antiquewhite;
}

.card:hover{
  transform: scale(1.5,1.5);
  transition-duration: 500ms;
  transition-timing-function: ease-out;
}

.card{
  transform: scale(1,1);
  transition-duration: 500ms;
  transition-timing-function: ease-out;
}

#card2{
  height:300px;
  border-radius: 5px;
  background: white;
  box-shadow:5px 5px 15px rgb(155, 155, 236);
  text-align: center;
  position: relative;
  width: 200px;
  overflow-x: auto;
  background-color: rgba(56, 49, 49, 0.082);
}

#card3{
  height:300px;
  border-radius: 5px;
  background: rgba(12, 3, 3, 0);
  box-shadow:5px 5px 15px rgb(155, 155, 236);
  text-align: center;
  position: relative;
  width: 200px;
  overflow-x: auto;
  background-color: rgba(56, 49, 49, 0.082);
}

.card-image{
  grid-area: image;
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
}

.card-text{
  grid-area:text;
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
}

.card-stats{
  grid-area: stats;
}

.card-position{
  position: relative;
  top:150px;
  left:100px;
}
.card-position2{
  position: relative;
  left:440px;
  bottom:150px;
}
.card-position3{
  position: relative;
  left:800px;
  bottom: 450px;
}
.container{
  height: 1000px;
}
.container h4, h5, h6 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
}
.info{
  position: relative;
  top:70px;
  left:10px;
  border: 3px #ccc Solid;
  padding: 10px;
}
.info h5{
  position: relative;
  left: 230px;
 font-family: 'Quicksand', sans-serif;
 font-weight: 300;
}

#card2 table{
  background-color: rgb(74, 113, 185);
}

#card3 table{
  background-color: rgb(243, 189, 139);
}
#card3 .card-image{
  background-color: rgb(180, 96, 44);
}

#card2 .card-image{
  background-color: rgba(159, 155, 214, 0.486);
}
#card1 .card-image{
  background-color: rgba(119, 207, 19, 0.432);
}

