<div class="container">
  <div class="card-header">
  <ngb-carousel>
    <ng-template ngbSlide>
      <div class="img-block">
        <img id="propImage" src="\assets\medical-practitioner-answering-phone-calls.jpg" alt="Img 1">
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="img-block">
        <img id="propImage" src="/assets/cuteanimated-45.jpg" alt="Img 2">
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="img-block">
        <img id="propImage" src="\assets\doctor-patient.jpg" alt="Img 3">
      </div>
    </ng-template>
  </ngb-carousel>
</div>
<div class="info">
<h5>Available appointments  &nbsp;  ||   &nbsp;   Doctors & GP's   &nbsp;  ||   &nbsp;   Users    ||    &nbsp;  Services</h5>
</div>
<div class="">
 <div class="card-position">
          <div class="card" id="card1" >
            <div class="card-image"><h6>Available Appointments</h6></div>
            <div class="card-text">
                  <table class="table table-striped table-light">
                    <thead>
                      <tr>
                        <th>Date  Time</th>
                      </tr>
                    </thead>
                   <tbody>
                    <tr *ngFor="let ten of allAppointments">
                      <td id="row">{{ ten.appointmentDate| date:'dd/MM/yy' }} &nbsp; {{ten.appointmentStartTime}}</td>
                    </tr>
                  </tbody>
                </table>
            </div>
          </div>
</div>
<div class="card-position2">
            <div class="card" id="card2">
              <div class="card-image"><h6>Names & Speciality</h6></div>
              <div class="card-text">
                <table class="table table-striped table-light">
                  <thead>
                    <tr>
                      <th>GP's & Nurse's</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let doc of  DoctorsandNurses">
                      <td>{{doc.name}} &nbsp; {{doc.speciality}}</td>

                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="card-stats"></div>
            </div>
</div>
<div  class="card-position3">
            <div class="card" id="card3" >
              <div class="card-image"><h6>Services</h6></div>
              <div class="card-text">
                <table class="table table-striped table-light">
                  <thead>
                    <tr>
                      <th>GP's & Nurse</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td scope="row">Create_Appointments</td>
                      </tr>
                     <tr>
                      <td scope="row">Updated_Appointments</td>
                    </tr>
                    <tr>
                      <td scope="">Delete_Appointments</td>
                    </tr>
                    <tr>
                      <td scope="">Update_your_Bookings</td>
                    </tr>
                    <tr>
                      <td scope="">Chat with your Patients</td>
                    </tr>
                  </tbody>
                </table>
                <table class="table table-striped table-light">
                  <thead>
                    <tr>
                      <th>Patients</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td scope="row">Book_Appointments</td>
                      </tr>
                     <tr>
                      <td scope="row">Updated_Appointments</td>
                    </tr>
                    <tr>
                      <td scope="">Keep_Track of your booking</td>
                    </tr>
                    <tr>
                      <td scope="">Chat with your GP</td>
                    </tr>
                    <tr>
                      <td scope="">Chat with your Nurse</td>
                    </tr>
                  </tbody>
                </table>

              </div>
              <div class="card-stats"></div>
            </div>
</div>
</div>
</div>

