<div class="container">
  <div class="card-header">
  <ngb-carousel>
    <ng-template ngbSlide>
      <div class="img-block">
        <img id="propImage" src="\assets\medical-practitioner-answering-phone-calls.jpg" alt="Img 1">
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="img-block">
        <img id="propImage" src="/assets/cuteanimated-45.jpg" alt="Img 2">
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="img-block">
        <img id="propImage" src="\assets\doctor-patient.jpg" alt="Img 3">
      </div>
    </ng-template>
  </ngb-carousel>
</div>
 <div class="card-position">
          <div class="card" id="card1" >
            <label class="form-label fixed-top">Date Time</label>
            <div class="card-body">
              <div class="row">
                  <table class="table table-striped table-light">
                   <tbody>
                    <tr *ngFor="let ten of allAppointments">
                      <td id="row">{{ ten.appointmentDate| date:'dd/MM/yy' }}</td>
                      <td id="row">{{ten.appointmentStartTime}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="card-footer">

            </div>
          </div>
</div>
<div class="card-position2">
            <div class="card" id="card2">
              <div class="card-text">
                <table class="table table-striped table-dark">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">GP</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="card-stats"></div>
            </div>
</div>
<div  class="card-position3">
            <div class="card" id="card3" >
              <div class="card-image"></div>
              <div class="card-text">
                <span class="date">Card 3</span>
              </div>
              <div class="card-stats"></div>
            </div>
</div>
</div>

